//= partials/header.html

<div class="container-555 page-onboarding">
<div class="row">
    <div class="col-xs-12">

        <h1>Create An Investor Pool</h1>

        <ul class="steps-images-list">
            <li>
                <b>1</b>
                Define
            </li>
            <li class="active">
                <b>2</b>
                Whitelist
            </li>
            <li>
                <b>3</b>
                Launch!
            </li>
        </ul>

        <p class="text-muted">
            EtherPool has no cap on how much ether you can raise or how many investors can invest. However, there are relatively high gas       costs to create Whitelists. The network also charges relatively high gas costs to edit the max/min values after the pool is launched.
            <br><br><i>All fields are optional</i>.
        </p>

        <div class="input-block-wrapper">
            <label>Data Field</label>
            <div class="input-search input-huge input-block">
                <input type="text" placeholder="enter address" />
                <button>
                    copy
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="13" viewBox="0 0 16 13">
                        <path fill-rule="nonzero" d="M14.959.281L5.527 9.713 1.6 5.785.28 7.104l4.587 4.587.66.63.659-.63L16.277 1.6z"/>
                    </svg>
                </button>
            </div>
        </div>

        <div class="input-block-wrapper">
            <label>Data Field</label>
            <div class="input-search input-huge input-block">
                <input type="text" placeholder="enter address" />
                <button>
                    copy
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="13" viewBox="0 0 16 13">
                        <path fill-rule="nonzero" d="M14.959.281L5.527 9.713 1.6 5.785.28 7.104l4.587 4.587.66.63.659-.63L16.277 1.6z"/>
                    </svg>
                </button>
            </div>
        </div>

        <div class="input-block-wrapper">
            <label>Data Field</label>
            <div class="input-search input-huge input-block">
                <input type="text" placeholder="enter address" />
                <button>
                    copy
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="13" viewBox="0 0 16 13">
                        <path fill-rule="nonzero" d="M14.959.281L5.527 9.713 1.6 5.785.28 7.104l4.587 4.587.66.63.659-.63L16.277 1.6z"/>
                    </svg>
                </button>
            </div>
        </div>

        <div class="input-block-wrapper">
            <label>Transaction ID</label>
            <div class="input-search input-huge input-block">
                <input type="text" placeholder="enter address" />
                <button>
                    copy
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="13" viewBox="0 0 16 13">
                        <path fill-rule="nonzero" d="M14.959.281L5.527 9.713 1.6 5.785.28 7.104l4.587 4.587.66.63.659-.63L16.277 1.6z"/>
                    </svg>
                </button>
            </div>
        </div>

        <div class="input-button button-primary button-disabled pull-right">
            <button>
                Launch
            </button>
        </div>

        </div>

    </div>
</div>

//= partials/footer.html