//= partials/header.html

<div class="container-555 page-onboarding">
<div class="row">
    <div class="col-xs-12">

        <h1>Create An Investor Pool</h1>

        <ul class="steps-images-list">
            <li>
                <b>1</b>
                Define
            </li>
            <li class="active">
                <b>2</b>
                Whitelist
            </li>
            <li>
                <b>3</b>
                Launch!
            </li>
        </ul>

        <p class="text-muted">
            EtherPool has no cap on how much ether you can raise or how many investors can invest. However, there are relatively high gas       costs to create Whitelists. The network also charges relatively high gas costs to edit the max/min values after the pool is launched.
            <br><br><i>All fields are optional</i>.
        </p>

        <div class="input-block-wrapper">
            <label>Maximum Allocation (ETH)</label>
            <div class="input-search input-huge input-block">
                <input type="text" />
            </div>
        </div>

        <div class="input-block-wrapper">
            <div class="row">
                <div class="col-xs-6">
                    <label>Maximum Per Investor (ETH)</label>
                    <div class="input-search input-huge input-block">
                        <input type="text" />
                    </div>
                </div>
                <div class="col-xs-6">
                    <label>Minimum Per Investor (ETH)</label>
                    <div class="input-search input-huge input-block">
                        <input type="text" />
                    </div>
                </div>
            </div>
        </div>

        <div class="input-block-wrapper button-or-button pull-right">
            <div class="input-button">
                <button>
                    create a whitelist
                </button>
            </div>
            <span>or</span>
            <div class="input-button button-primary">
                <button>
                    launch
                </button>
            </div>
        </div>

        </div>

    </div>
</div>

//= partials/footer.html