//= partials/header.html

<div class="overlay">
    <div class="overlay-close">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
            <path fill="#1B2C59" fill-rule="nonzero" d="M1.665.219L.219 1.665l6.554 6.554-6.554 6.554 1.446 1.446 6.554-6.554 6.554 6.554 1.446-1.446-6.554-6.554 6.554-6.554L14.773.219 8.219 6.773z"/>
        </svg>
    </div>
<div class="container-555">
<div class="row">
    <div class="col-xs-12">

        <h2>create or edit your whitelist</h2>

        <div class="input-wrapper">
            <label>Whitelisted Ethereum Wallet Addresses</label>
            <textarea placeholder="Separate with a space or a comma."></textarea>
        </div>

        <div class="input-wrapper">
        <div class="input-button button-primary button-disabled pull-right">
            <button>
                Submit
            </button>
        </div>
        </div>

        </div>

    </div>
</div>
</div>

//= partials/footer.html