//= partials/header.html

<div class="overlay">
    <div class="overlay-close">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
            <path fill="#1B2C59" fill-rule="nonzero" d="M1.665.219L.219 1.665l6.554 6.554-6.554 6.554 1.446 1.446 6.554-6.554 6.554 6.554 1.446-1.446-6.554-6.554 6.554-6.554L14.773.219 8.219 6.773z"/>
        </svg>
    </div>
<div class="container-555 page-define">
<div class="row">
    <div class="col-xs-12">

        <h2>define or edit values</h2>

        <div class="input-block-wrapper">
            <label class="text-muted">STATUS</label>
            <ul class="radio-input-wrapper">
                <li>
                    <input type="radio" name="radio1" checked="checked" />
                    <label>Open</label>
                </li>
                <li>
                    <input type="radio" name="radio1" />
                    <label>Closed</label>
                </li>
                <li>
                    <input type="radio" name="radio1" />
                    <label>Failed</label>
                </li>
            </ul>
        </div>

        <div class="input-block-wrapper">
            <label>Maximum Allocation (ETH)</label>
            <div class="input-search input-huge input-block">
                <input type="text" />
            </div>
        </div>

        <div class="input-block-wrapper">
            <div class="row">
                <div class="col-xs-6">
                    <label>Maximum Per Investor (ETH)</label>
                    <div class="input-search input-huge input-block">
                        <input type="text" />
                    </div>
                </div>
                <div class="col-xs-6">
                    <label>Minimum Per Investor (ETH)</label>
                    <div class="input-search input-huge input-block">
                        <input type="text" />
                    </div>
                </div>
            </div>
        </div>

        <div class="input-block-wrapper">
        <div class="input-button button-primary button-disabled pull-right">
            <button>
                launch
            </button>
        </div>
        </div>

    </div>
</div>
</div>

//= partials/footer.html