//= partials/header.html

<div class="overlay">
    <div class="overlay-close">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
            <path fill="#1B2C59" fill-rule="nonzero" d="M1.665.219L.219 1.665l6.554 6.554-6.554 6.554 1.446 1.446 6.554-6.554 6.554 6.554 1.446-1.446-6.554-6.554 6.554-6.554L14.773.219 8.219 6.773z"/>
        </svg>
    </div>
<div class="container-555">
<div class="row">
    <div class="col-xs-12">

        <h2>define or edit values</h2>

        <p>
            Copy the data below into MyEtherWallet in a new browser. MyEtherWallet will generate a Transaction ID
            for you to input in the bottommost input field on this form. Click submit and the values will be updated!
        </p>

        <div class="input-block-wrapper">
            <label>Data Field</label>
            <div class="input-search input-huge input-block">
                <input type="text" placeholder="enter address" />
                <button>
                    copy
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="13" viewBox="0 0 16 13">
                        <path fill-rule="nonzero" d="M14.959.281L5.527 9.713 1.6 5.785.28 7.104l4.587 4.587.66.63.659-.63L16.277 1.6z"/>
                    </svg>
                </button>
            </div>
        </div>

        <div class="input-block-wrapper">
            <label>Data Field</label>
            <div class="input-search input-huge input-block">
                <input type="text" placeholder="enter address" />
                <button>
                    copy
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="13" viewBox="0 0 16 13">
                        <path fill-rule="nonzero" d="M14.959.281L5.527 9.713 1.6 5.785.28 7.104l4.587 4.587.66.63.659-.63L16.277 1.6z"/>
                    </svg>
                </button>
            </div>
        </div>

        <div class="input-block-wrapper">
            <label>Data Field</label>
            <div class="input-search input-huge input-block">
                <input type="text" placeholder="enter address" />
                <button>
                    copy
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="13" viewBox="0 0 16 13">
                        <path fill-rule="nonzero" d="M14.959.281L5.527 9.713 1.6 5.785.28 7.104l4.587 4.587.66.63.659-.63L16.277 1.6z"/>
                    </svg>
                </button>
            </div>
        </div>

        <div class="input-block-wrapper">
            <label>Transaction ID</label>
            <div class="input-search input-huge input-block">
                <input type="text" placeholder="enter address" />
                <button>
                    copy
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="13" viewBox="0 0 16 13">
                        <path fill-rule="nonzero" d="M14.959.281L5.527 9.713 1.6 5.785.28 7.104l4.587 4.587.66.63.659-.63L16.277 1.6z"/>
                    </svg>
                </button>
            </div>
        </div>

        <div class="input-button button-primary button-disabled pull-right">
            <button>
                Submit
            </button>
        </div>

        </div>

    </div>
</div>
</div>

//= partials/footer.html