//= partials/header.html

<div class="container-777 main-page">
    <div class="row main-top-block">
        <div class="col-xs-3 col-main-actions">
            <div class="status-block">
                <div class="text-header-main">
                    STATUS
                </div>
                <div class="text-header-big status-main-paid">
                    PAID
                </div>
            </div>
            <div class="input-button button-primary button-disabled">
                <button>
                    GET MY TOKENS
                </button>
            </div>
            <div class="input-button button-disabled">
                <button>
                    WITHDRAW ETHER
                </button>
            </div>
        </div>
        <div class="col-xs-9">
            <div class="row">
                <div class="col-xs-6">
                    <div class="panel-block">
                        <div class="text-header-main">
                            MAX ALLOCATION
                        </div>
                        <div class="text-header-value">
                            10,000.0 ETH
                        </div>
                        <div class="text-header-main">
                            CURRENT VALUE
                        </div>
                        <div class="text-header-value">
                            1,000.0 ETH
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="panel-block">
                        <div class="text-header-main">
                            MAX PER CONTRIBUTOR
                        </div>
                        <div class="text-header-value">
                            900.0 ETH
                        </div>
                        <div class="text-header-main">
                            MIN PER CONTRIBUTOR
                        </div>
                        <div class="text-header-value">
                            100.0 ETH
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row main-bottom-block">
        <div class="col-xs-12">
            <div class="row main-bottom-titles">
                <div class="col-xs-12">
                    <div class="title-one">Contributors</div>
                    <div class="title-two">Amount(ETH)</div>
                </div>
            </div>
            <div class="row main-bottom-list">
                <div class="col-xs-12">
                    <ul class="bottom-list">
                        <li>
                            <div class="row">
                                <div class="col-xs-10 col-address">0xD4D83f833f0185eB00788C4A5e85F1dfCD7C36D8</div>
                                <div class="col-xs-2 col-amount">10</div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-xs-10 col-address">0xD4D83f833f0185eB00788C4A5e85F1dfCD7C36D8</div>
                                <div class="col-xs-2 col-amount">10</div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-xs-10 col-address">0xD4D83f833f0185eB00788C4A5e85F1dfCD7C36D8</div>
                                <div class="col-xs-2 col-amount">10</div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-xs-10 col-address">0xD4D83f833f0185eB00788C4A5e85F1dfCD7C36D8</div>
                                <div class="col-xs-2 col-amount">10</div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-xs-10 col-address">0xD4D83f833f0185eB00788C4A5e85F1dfCD7C36D8</div>
                                <div class="col-xs-2 col-amount">10</div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-xs-10 col-address">0xD4D83f833f0185eB00788C4A5e85F1dfCD7C36D8</div>
                                <div class="col-xs-2 col-amount">10</div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-xs-10 col-address">0xD4D83f833f0185eB00788C4A5e85F1dfCD7C36D8</div>
                                <div class="col-xs-2 col-amount">10</div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-xs-10 col-address">0xD4D83f833f0185eB00788C4A5e85F1dfCD7C36D8</div>
                                <div class="col-xs-2 col-amount">10</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

//= partials/footer.html