<div class="wrap">
  <main class="container">

    <div class="container-555 faq-page">
      <div class="row">
        <div class="col-xs-12">
          <h1>FAQ</h1>

          <h2>What problem are we solving?</h2>
          <p>
            Lorem ipsum dolor sit amet, __consectetur__ adipiscing elit. Cras imperdiet nec erat ac condimentum.
            Nulla vel rutrum ligula. Sed hendrerit interdum orci a posuere. Vivamus ut velit aliquet, mollis purus
            eget, iaculis nisl.
          </p>

          <h2>is this product safe and secure?</h2>
          <p>
            We do not ask you to provide your wallet credentials in order to transact with the presale contract.
            Instead, we will provide you with the data you need to perform the transaction yourself on MEW or some
            other ethereum wallet platform. Our code is also open source and you can view it on our <a href="#">Github<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
            <path fill="#1B2C59" fill-rule="nonzero" d="M1.778 0C.798 0 0 .799 0 1.778v12.444C0 15.202.799 16 1.778 16h12.444c.98 0 1.778-.799 1.778-1.778V8.89L14.222 7.11v7.111H1.778V1.778h7.11L7.112 0H1.778zm8 0l2.36 2.361-6.666 6.667 1.5 1.5L13.64 3.86 16 6.222V0H9.778z"></path>
          </svg></a>.
            However, while your ether remains in the pool, it is in the control of the pool manager.
            Make sure to only contribute to pools managed by someone you trust.
          </p>

          <h2>How do I know EtherPool can’t see my private key?</h2>
          <p>
            We’ve opted not to ask for your wallet credentials. Instead, we will generate the data for you to
            perform the transactions yourself on MyEtherWallet.
          </p>

          <h2>is there a cap on how much i can raise?</h2>
          <p>
            We have no caps.
          </p>

          <h2>Is there a limit to the number of investors?</h2>
          <p>
            There is no limit to the number of members you can have in your pool. However, there are costs associated
            with adding a whitelist to the pool which can effectively limit the size of your pool (see answer below).
          </p>

          <h2>what are the transaction costs?</h2>
          <p>
            Every interaction you have with the contract, either as the pool manager or as a contributor, will cost <a href="#">gas<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
            <path fill="#1B2C59" fill-rule="nonzero" d="M1.778 0C.798 0 0 .799 0 1.778v12.444C0 15.202.799 16 1.778 16h12.444c.98 0 1.778-.799 1.778-1.778V8.89L14.222 7.11v7.111H1.778V1.778h7.11L7.112 0H1.778zm8 0l2.36 2.361-6.666 6.667 1.5 1.5L13.64 3.86 16 6.222V0H9.778z"></path>
          </svg></a>.
            Most operations cost a fixed amount of gas. However, adding a whitelist has a cost proportional to the number
            of participants in the pool. And, in some cases, editing contribution limits can have a gas cost proportional
            to how many participants are currently in the pool. Modifying an existing whitelist has a cost proportional
            to the number of additions/deletions you want to make to the whitelist. Due to gas limits, we recommend
            including a maximum of 50 members at a time when modifying whitelists. So if you would like to have a
            whitelist of 150 members, we recommend splitting that into 3 separate ethereum transactions each
            consisting of 50 members.
          </p>

          <h2>Can i withdraw my investment?</h2>
          <p>
            While the pool retains its open status, you are free to adjust your contribution size. But once a pool
            has a closed status, you will not be able to make adjustments to your contribution.
            For any number of reasons, the pool manager may decide to put the pool into a failed state,
            at which point you’ll be able to withdraw all your contribution.
          </p>

          <h2>how do i get my tokens?</h2>
          <p>
            You will be able to retrieve your tokens from the same EtherPool address where you invested ether. The
            ICO will send them to that address and you will be able to withdraw them by executing a transaction.
            As for timing, a good indicator will be the ICO roadmap that the particular ICO published on its website.
            Your pool creator will likely have more details based on negotiations s/he made with the ICO team.
            In v2, we plan to personalize the product much more. One way will be to display total token availability
            and your share.
          </p>

          <h2>who created this product?</h2>
          <p>
            Two American friends living in Stockholm created EtherPool. <a href="#">Tamir Sen<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
            <path fill="#1B2C59" fill-rule="nonzero" d="M1.778 0C.798 0 0 .799 0 1.778v12.444C0 15.202.799 16 1.778 16h12.444c.98 0 1.778-.799 1.778-1.778V8.89L14.222 7.11v7.111H1.778V1.778h7.11L7.112 0H1.778zm8 0l2.36 2.361-6.666 6.667 1.5 1.5L13.64 3.86 16 6.222V0H9.778z"></path>
          </svg></a>
            developed the backend on the Ethereum protocol and <a href="#">Rolando Mathias<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
            <path fill="#1B2C59" fill-rule="nonzero" d="M1.778 0C.798 0 0 .799 0 1.778v12.444C0 15.202.799 16 1.778 16h12.444c.98 0 1.778-.799 1.778-1.778V8.89L14.222 7.11v7.111H1.778V1.778h7.11L7.112 0H1.778zm8 0l2.36 2.361-6.666 6.667 1.5 1.5L13.64 3.86 16 6.222V0H9.778z"></path>
          </svg></a>
            designed the product. <a href="#">Alexey Klimovich<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
            <path fill="#1B2C59" fill-rule="nonzero" d="M1.778 0C.798 0 0 .799 0 1.778v12.444C0 15.202.799 16 1.778 16h12.444c.98 0 1.778-.799 1.778-1.778V8.89L14.222 7.11v7.111H1.778V1.778h7.11L7.112 0H1.778zm8 0l2.36 2.361-6.666 6.667 1.5 1.5L13.64 3.86 16 6.222V0H9.778z"></path>
          </svg></a>
            saved the day by developing the frontend to help us launch quickly.
            All three are champions of blockchain technology and wanted to use their skills,
            knowledge and passion to faciliate its evolution. If you’d like to donate to the
            product, please send any amount of ether here:
          </p>

          <div class="faq-donate">
            <label>Ether Donation Address</label><br>
            <div class="input-search input-huge">
              <input type="text" placeholder="enter address">
              <button>
                copy
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="13" viewBox="0 0 16 13">
                  <path fill-rule="nonzero" d="M14.959.281L5.527 9.713 1.6 5.785.28 7.104l4.587 4.587.66.63.659-.63L16.277 1.6z"></path>
                </svg>
              </button>
            </div>
            <p>
              If you’d like to request features, give product feedback or just say hi, please do so here:
            </p>
            <a href="mailto:rmathias@protonmail.com">rmathias@protonmail.com</a>
          </div>

        </div>
      </div>
    </div>

  </main>
</div>
