<div class="wrap">
  <main class="container">

    <div class="container-777 main-page">

      <!-- Stats block -->
      <div class="row main-top-block">
        <div class="col-xs-3 col-main-actions">
          <div class="status-block">
            <div class="text-header-main">
              STATUS
            </div>
            <div class="text-header-big status-main-paid">
              PAID
            </div>
          </div>
          <div class="input-button button-primary button-disabled">
            <button>
              GET MY TOKENS <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
              <path fill="#FFF" fill-rule="nonzero" d="M11.2 0C8.55 0 6.4.897 6.4 2s2.15 2 4.8 2S16 3.103 16 2s-2.15-2-4.8-2zM6.4 2.8v1.6c0 1.119 2.16 2 4.8 2 2.64 0 4.8-.881 4.8-2V2.8c0 1.119-2.16 2-4.8 2-2.64 0-4.8-.881-4.8-2zM16 5.125c0 1.2-2.16 2.075-4.8 2.075-2.64 0-4.8-.881-4.8-2v1.275c1.919.24 3.606 1.05 3.925 2.25h.875c2.64 0 4.8-.881 4.8-2v-1.6zM4.8 7.2c-2.64 0-4.8.881-4.8 2s2.16 2 4.8 2c2.64 0 4.8-.881 4.8-2s-2.16-2-4.8-2zm11.2.4c0 1.119-2.16 2-4.8 2h-.8v1.6h.8c2.64 0 4.8-.881 4.8-2V7.6zM0 10v1.6c0 1.119 2.16 2 4.8 2 2.64 0 4.8-.881 4.8-2V10c0 1.119-2.16 2-4.8 2-2.64 0-4.8-.881-4.8-2zm16 0c0 1.119-2.16 2-4.8 2h-.8v1.6h.8c2.64 0 4.8-.881 4.8-2V10zM0 12.4V14c0 1.119 2.16 2 4.8 2 2.64 0 4.8-.881 4.8-2v-1.6c0 1.119-2.16 2-4.8 2-2.64 0-4.8-.881-4.8-2z"></path>
            </svg>
            </button>
          </div>
          <div class="input-button button-disabled">
            <button>
              WITHDRAW ETHER
            </button>
          </div>
        </div>
        <div class="col-xs-9 col-panels">
          <div class="row">
            <div class="col-xs-6">
              <div class="panel-block">
                <div class="text-header-main">
                  MAX ALLOCATION
                </div>
                <div class="text-header-value">
                  10,000.0 ETH
                </div>
                <div class="text-header-main">
                  CURRENT VALUE
                </div>
                <div class="text-header-value">
                  1,000.0 ETH
                </div>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="panel-block">
                <div class="text-header-main">
                  MAX PER CONTRIBUTOR
                </div>
                <div class="text-header-value">
                  900.0 ETH
                </div>
                <div class="text-header-main">
                  MIN PER CONTRIBUTOR
                </div>
                <div class="text-header-value">
                  100.0 ETH
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Contributors -->
      <div class="row main-bottom-block">
        <div class="col-xs-12">
          <div class="row main-bottom-titles">
            <div class="col-xs-12">
              <div class="title-one">Contributors</div>
              <div class="title-two">Amount(ETH)</div>
            </div>
          </div>
          <div class="row main-bottom-list">
            <div class="col-xs-12">
              <ul class="bottom-list height-limited">
                <li>
                  <div class="row">
                    <div class="col-xs-10 col-address">0xD4D83f833f0185eB00788C4A5e85F1dfCD7C36D8</div>
                    <div class="col-xs-2 col-amount">10</div>
                  </div>
                </li>
                <li>
                  <div class="row">
                    <div class="col-xs-10 col-address">0xD4D83f833f0185eB00788C4A5e85F1dfCD7C36D8</div>
                    <div class="col-xs-2 col-amount">10</div>
                  </div>
                </li>
                <li>
                  <div class="row">
                    <div class="col-xs-10 col-address">0xD4D83f833f0185eB00788C4A5e85F1dfCD7C36D8</div>
                    <div class="col-xs-2 col-amount">10</div>
                  </div>
                </li>
                <li>
                  <div class="row">
                    <div class="col-xs-10 col-address">0xD4D83f833f0185eB00788C4A5e85F1dfCD7C36D8</div>
                    <div class="col-xs-2 col-amount">10</div>
                  </div>
                </li>
                <li>
                  <div class="row">
                    <div class="col-xs-10 col-address">0xD4D83f833f0185eB00788C4A5e85F1dfCD7C36D8</div>
                    <div class="col-xs-2 col-amount">10</div>
                  </div>
                </li>
                <li>
                  <div class="row">
                    <div class="col-xs-10 col-address">0xD4D83f833f0185eB00788C4A5e85F1dfCD7C36D8</div>
                    <div class="col-xs-2 col-amount">10</div>
                  </div>
                </li>
                <li>
                  <div class="row">
                    <div class="col-xs-10 col-address">0xD4D83f833f0185eB00788C4A5e85F1dfCD7C36D8</div>
                    <div class="col-xs-2 col-amount">10</div>
                  </div>
                </li>
                <li>
                  <div class="row">
                    <div class="col-xs-10 col-address">0xD4D83f833f0185eB00788C4A5e85F1dfCD7C36D8</div>
                    <div class="col-xs-2 col-amount">10</div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>

  </main>
</div>
