<div class="wrap">
  <main class="container">

    <div class="container-555">
      <div class="row">
        <div class="col-xs-12">
          <h1>Ethereum Smart Pooling</h1>

          <p>
            Welcome to a free, open-source and secure platform to create and automate investor pools for ethereum contracts.
            You can dig into our FAQ to learn more or dive into the process by clicking the button below!
          </p>

          <div class="input-button button-primary" style="margin-top: 42px;">
            <button>
              create a pool

            </button>
          </div>
        </div>
      </div>
    </div>

  </main>
</div>
