<div class="wrap">
  <main class="container">

    <div class="container-777 main-page">

      <!-- Edit block -->
      <div class="row main-edit-block">
        <div class="col-xs-7 col-edit-panel">
          <div class="panel-block">
            <ul class="edit-list-block">
              <li>
                <div class="row">
                  <div class="col-xs-2 col-action">edit</div>
                  <div class="col-xs-5 col-field">Status:</div>
                  <div class="col-xs-5 col-value">Closed</div>
                </div>
              </li>
              <li>
                <div class="row">
                  <div class="col-xs-2 col-action">edit</div>
                  <div class="col-xs-5 col-field">Max Allocation:</div>
                  <div class="col-xs-5 col-value">10,1000.0 ETH</div>
                </div>
              </li>
              <li>
                <div class="row">
                  <div class="col-xs-2 col-action">edit</div>
                  <div class="col-xs-5 col-field">Max Per Contributor:</div>
                  <div class="col-xs-5 col-value">100.0 ETH</div>
                </div>
              </li>
              <li>
                <div class="row">
                  <div class="col-xs-2 col-action">edit</div>
                  <div class="col-xs-5 col-field">Min Per Contributor:</div>
                  <div class="col-xs-5 col-value">100.0 ETH</div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-xs-5 col-edit-button">
          <div class="input-button button-primary">
            <button>
              payout to fund

            </button>
          </div>
        </div>
      </div>

      <!-- Contributors -->
      <div class="row main-bottom-block">
        <div class="col-xs-12">
          <div class="row main-bottom-titles">
            <div class="col-xs-12">
              <div class="title-one">Contributors</div>
              <div class="title-two">Amount(ETH)</div>
            </div>
          </div>
          <div class="row main-bottom-list">
            <div class="col-xs-12">
              <ul class="bottom-list height-limited">
                <li>
                  <div class="row">
                    <div class="col-xs-10 col-address">0xD4D83f833f0185eB00788C4A5e85F1dfCD7C36D8</div>
                    <div class="col-xs-2 col-amount">10</div>
                  </div>
                </li>
                <li>
                  <div class="row">
                    <div class="col-xs-10 col-address">0xD4D83f833f0185eB00788C4A5e85F1dfCD7C36D8</div>
                    <div class="col-xs-2 col-amount">10</div>
                  </div>
                </li>
                <li>
                  <div class="row">
                    <div class="col-xs-10 col-address">0xD4D83f833f0185eB00788C4A5e85F1dfCD7C36D8</div>
                    <div class="col-xs-2 col-amount">10</div>
                  </div>
                </li>
                <li>
                  <div class="row">
                    <div class="col-xs-10 col-address">0xD4D83f833f0185eB00788C4A5e85F1dfCD7C36D8</div>
                    <div class="col-xs-2 col-amount">10</div>
                  </div>
                </li>
                <li>
                  <div class="row">
                    <div class="col-xs-10 col-address">0xD4D83f833f0185eB00788C4A5e85F1dfCD7C36D8</div>
                    <div class="col-xs-2 col-amount">10</div>
                  </div>
                </li>
                <li>
                  <div class="row">
                    <div class="col-xs-10 col-address">0xD4D83f833f0185eB00788C4A5e85F1dfCD7C36D8</div>
                    <div class="col-xs-2 col-amount">10</div>
                  </div>
                </li>
                <li>
                  <div class="row">
                    <div class="col-xs-10 col-address">0xD4D83f833f0185eB00788C4A5e85F1dfCD7C36D8</div>
                    <div class="col-xs-2 col-amount">10</div>
                  </div>
                </li>
                <li>
                  <div class="row">
                    <div class="col-xs-10 col-address">0xD4D83f833f0185eB00788C4A5e85F1dfCD7C36D8</div>
                    <div class="col-xs-2 col-amount">10</div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <!-- Whitelist -->
      <div class="row main-bottom-block">
        <div class="col-xs-12">
          <div class="row main-bottom-titles">
            <div class="col-xs-12">
              <div class="title-one">Whitelist</div>
              <div class="title-two">Amount(ETH)</div>
            </div>
          </div>
          <div class="row main-bottom-list">
            <div class="col-xs-12">
              <ul class="bottom-list">
                <div class="input-button">
                  <button>
                    create a whitelist
                  </button>
                </div>
                <p class="text-muted">
                  Creating a whitelist will remove previous contributors from this<br>pool if they aren’t on the whitelist.
                </p>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>

  </main>
</div>
