body, html {
  font-family: "Roboto", sans-serif;
  background-color: #f8faff;
  font-weight: 300;
}

html {
  min-height: 100%;
  position: relative;
}

body {
  height: 100%;
  padding-bottom: 240px;
}

input, button, textarea {
  font: inherit;
}

header {
  background-color: #ffffff;
  box-shadow: 0 3px 10px 0 rgba(153, 143, 143, 0.55);
  padding: 24px 35px;

  .logo {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    color: #1a2c59;
    display: inline-block;
    position: relative;
    top: -8px;
    margin-right: 50px;
  }

  ul.usermenu {
    padding: 10px 0 0 0;
    margin: 0 0;
    float: right;

    li {
      list-style: none;
      font-size: 16px;
      text-align: left;
      text-transform: uppercase;
      display: inline-block;
      a {
        color: #1a2c59;
        text-decoration: none;
      }
      &.usermenu-selected {
        position: relative;
      }
      &.usermenu-selected::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: #1a2c59;
        bottom: -3px;
        left: 0;
      }
    }

    li + li {
      margin-left: 15px;
    }

  }

  /*.container {
    max-width: 968px;
  }*/

}

main {
  padding-top: 80px;
  max-width: 968px;

  .container-555 {
    max-width: 555px;
    margin: 0 auto;
  }

  h1 {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 42px;
    font-weight: bold;
    line-height: 1.22;
    text-align: left;
    color: #1a2c59;
    margin: 0 0 25px 0;
  }

  h2 {
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    color: #1a2c59;
    margin: 0 0 16px 0;
    text-transform: uppercase;
  }

  p {
    font-size: 18px;
    line-height: 1.4;
    text-align: left;
    color: #1a2c59;
  }

  p + h2 {
    margin-top: 40px;
  }

  .faq-page {

    p {
      max-width: 482px;
    }

    .faq-donate {
      label {
        font-size: 16px;
        font-weight: bold;
        line-height: 1.4;
        text-align: left;
        color: #1a2c59;
        margin-bottom: 0;
        display: inline;
      }
      a {
        font-size: 24px;
        font-weight: bold;
        text-align: left;
        color: #1a2c59;
      }
    }

  }

  .input-block-wrapper {
    margin-bottom: 24px;
  }

  .overlay {
    position: relative;
    .overlay-close {
      position: absolute;
      top: 0;
      right: 0;
      svg {
        width: 24px;
        height: 24px;
        cursor: pointer;
      }
    }
  }

  .steps-images-list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    li {
      list-style: none;
      width: 80px;
      height: 80px;
      background-image: linear-gradient(to right, #1b2c59, #0937ab);
      border-radius: 80px;
      text-align: center;
      font-size: 14px;
      line-height: 19.6px;
      color: white;
      opacity: 0.1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-family: "Roboto", sans-serif;
      font-weight: normal;
      b {
        font-family: "Roboto Condensed", sans-serif;
        font-weight: bold;
        line-height: 22.4px;
        font-size: 24px;
        display: block;
        margin-bottom: 4px;
      }
      &.active {
        opacity: 1.0;
      }
    }
  }

  .input-wrapper {
    margin-top: 30px;
  }

  .page-onboarding {
    h1 {
      margin-bottom: 60px;
      text-align: center;
    }
    p {
      margin-bottom: 32px;
    }
  }

}

footer {
  background-color: #ffffff;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 32px 0;
  .credits {
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    color: #8892b3;
    svg {
      position: relative;
      top: 3px;
    }
  }
  ul.footerlinks {
    padding: 0;
    margin: 0 250px 0 0;

    li {
      list-style: none;
      font-size: 16px;
      text-align: left;
      text-transform: uppercase;
      a {
        color: #1a2c59;
        text-decoration: none;
      }
    }
  }

  .container {
    max-width: 968px;
  }
}

.pull-right {
  float: right;
  &:after {
    content: "";
    display: table;
    clear: right;
  }
}

.text-muted {
  font-size: 16px;
  line-height: 1.4;
  text-align: left;
  color: #8892b3;
}