<header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <div class="logo">
          <a routerLink="/" routerLinkActive="active">EtherPool</a>
        </div>
        <div class="input-search" [class.activated]="isSearchActive()">
          <input type="search" [(ngModel)]="searchAddress" placeholder="Enter a contract address to find a pool" (keydown)="keyDownFunction($event)">
          <button (click)="OpenSearchAddress()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
              <path fill="white" fill-rule="nonzero" d="M5.6 0A5.567 5.567 0 0 0 0 5.6c0 3.119 2.481 5.6 5.6 5.6a5.59 5.59 0 0 0 3.6-1.3l.4.4v.65L14.65 16 16 14.65 10.95 9.6h-.7l-.375-.375A5.598 5.598 0 0 0 11.2 5.6C11.2 2.481 8.719 0 5.6 0zm0 1.6c2.24 0 4 1.76 4 4s-1.76 4-4 4-4-1.76-4-4 1.76-4 4-4z"></path>
            </svg>
          </button>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
            <path fill="#1B2C59" fill-rule="nonzero" d="M5.6 0A5.567 5.567 0 0 0 0 5.6c0 3.119 2.481 5.6 5.6 5.6a5.59 5.59 0 0 0 3.6-1.3l.4.4v.65L14.65 16 16 14.65 10.95 9.6h-.7l-.375-.375A5.598 5.598 0 0 0 11.2 5.6C11.2 2.481 8.719 0 5.6 0zm0 1.6c2.24 0 4 1.76 4 4s-1.76 4-4 4-4-1.76-4-4 1.76-4 4-4z"></path>
          </svg>
        </div>
        <ul class="usermenu">
          <!-- @TODO Debug output -->
          <li>
            <a href="https://etherscan.io/address/{{contractAddress}}">
              {{contractAddress}}
            </a>
          </li>
          <li>
            <a href="#">STATS</a>
          </li>
          <li>
            <a routerLink="/faq" routerLinkActive="active">FAQ</a>
          </li>
          <li>
            <button md-button [mdMenuTriggerFor]="menu">{{selected}}
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="7" viewBox="0 0 16 7">
                <path fill="#1B2C59" fill-rule="nonzero" d="M0 0v3.111L8 7l8-3.889V0L8 3.889z"></path>
              </svg>
            </button>
            <md-menu #menu="mdMenu" x-position="before" y-position="above">
              <button md-menu-item routerLink="/creator" (click)="select('CREATOR')">CREATOR</button>
              <button md-menu-item routerLink="/investor" (click)="select('INVESTOR')">INVESTOR</button>
            </md-menu>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
